<div class="mt-5" >
    <h2>Dashboard</h2>
    <div class="cards-container mt-4">
        <div class="card total-card">
            <div class="number" id="totalStudents">{{totalStudents}}</div>
            <div class="label">Total Students</div>
        </div>

        <div class="card present-card">
            <div class="number" id="presentStudents">{{presentStudents}}</div>
            <div class="label">Present</div>
        </div>

        <div class="card absent-card">
            <div class="number" id="absentStudents">{{absentStudents}}</div>
            <div class="label">Absent</div>
        </div>
    </div>

</div>
