<div class="p-4">
  <h2 class="text-xl font-bold mb-4">Today Attendance</h2>
  <mat-tab-group  (selectedTabChange)="onTabChange($event)"  >
    <mat-tab label="Present" >
             <app-data-table-component
    [data]="data"
    [config]="tableConfig"
    [loading]="loading"
    [totalRecords]="pagination.total"
    [pageSize]="pagination.limit"
    [pageIndex]="pagination.page - 1"
    [showSearch]="false"
    [pageSizeOptions]="[10, 20, 30, 40, 50]"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  ></app-data-table-component>
    </mat-tab>

    <mat-tab label="Absent" >
       <app-data-table-component
    [data]="data"
    [config]="tableConfig"
    [loading]="loading"
    [totalRecords]="pagination.total"
    [pageSize]="pagination.limit"
    [pageIndex]="pagination.page - 1"
    [showSearch]="false"
    [pageSizeOptions]="[10, 20, 30, 40, 50]"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  ></app-data-table-component>
    </mat-tab>
  </mat-tab-group>
</div>
